LRNEO_EMAIL=your-lr-neo-email-or-username
LRNEO_PASSWORD=your-lr-neo-password
LR_APP_INGEST_URL=https://your-domain.com/api.php
LR_APP_INGEST_TOKEN=ce9f8e274d186b79eff451b70970d644825c31d4529690cd89302572f1c72c5d
LR_APP_USERNAME=admin
LRNEO_HEADLESS=true
